body {
	font-size: 15px;
	background-color: rgba(219, 219, 219, 0.3) ;
}

header, main {
	font-family: 'Pacifico', cursive;
}

.headforall {
	display: flex;
	justify-content: space-between;
	background-color: #ffffdd;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.dropdown {
	display: none;
}

.socialmedia a{
	width: 100%;
	height: auto;
	margin-right: -70px;
}

.socialmedia img{
	display: block;
	width: 30%;
	}

/*.headtitle{
	margin-top: 20px;
}
*/

.navheader{
	margin-top: 30px;
	display: flex;
	align-items: center;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

li {
	display: inline-block;
}

li a {
    display: block;
    padding: 10px;
    color: black;
}

li a:hover{
	color: red;
}

/*p {
	font-size: 2.5rem;
	color: white;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	text-align: center;
	line-height: 90%;
}

p span {
	font-size: 1.5rem;
}

p:hover{
	background-color: #000000;
}*/


.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mapAndContents {
	display: flex;
	justify-content: space-around;
	align-items: row;
	flex-wrap: wrap;
/*	margin-bottom: 60px;*/
}
#map {
	width: 49%;
	height: 600px;
}

#placeHolder {
	width: 49%;
	height: 600px;
	background: #666;
	color: white;
	position: relative;
}	

#placeHolderContents {
	z-index: 99;
	position: absolute;
    text-align: center;
    margin-top: 40%;
}

h1 {
	font-size: 3rem;
}

#placeHolder article figure img {
	width: 100%;
	height: 600px;
	position: relative;
	opacity: 0.8;
}

#showImage {
	width: 49%;
	height: auto;
	display: none;
	overflow: hidden;
	background: #666;
	color: white;
}

.show {
	height: 600px;
	display: none;
	overflow: hidden;
	position: relative;
}

article {
	display: flex;
	justify-content: center;
	align-items: column;
	flex-wrap: wrap;
}

figure {
	margin: 0px;
}

figure img {
	width: 100%;
	height: 600px;
	position: relative;
/*	opacity: 0.7;*/
}

hgroup {
	z-index: 99;
	position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}


span {
	color: red;
	text-decoration: underline;
}

span:hover{
	color: black;
}

/*/*phone library test*/

.photoLibrary {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

.photoLibrary div {
	width: 16.6%;
	display: inline-block;
	margin-top: 30px;
}

.photoLibrary div img {
	width: 100%;
	height: auto;
}
.photoLibrary div img:hover {
	opacity: 0.7;

/*               */
footer{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: #f7f8f9;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
}


/*Test for Slideshow*/
/*body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}
*/
/* Position the image container (needed to position the left and right arrows) */
/*.container {
  position: relative;
}*/

/* Hide the images by default */
/*.mySlides {
  display: none;
}*/

/* Add a pointer when hovering over the thumbnail images */
/*.cursor {
  cursor: pointer;
}*/

/* Next & previous buttons */
/*.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}*/

/* Position the "next button" to the right */
/*.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}*/

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
*/
/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* Container for image text */
/*.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
/* Six columns side by side */
/*.column {
  float: left;
  width: 16.66%;
}
*/
/* Add a transparency effect for thumnbail images */
/*.demo {
  opacity: 0.6;
}
*/
/*.active,
.demo:hover {
  opacity: 1;
}
*/


/*Test for Slideshow*/






@media (max-width: 860px) {
	p{
		font-size: 2rem;
	}

	p span {
		font-size: 1rem;
	}

@media (max-width: 750px) {
.entiresitehead, .headtitle, .navheader{
	display: none;
}

.menuIcon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 5px;
}
.dropbtn {
 	background-color: #ffffdd;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4EADF6;
}
.menuIcon:hover {
    background-color: black;
}


@media (max-width: 460px) {


p{
	font-size: 1.5rem;
}

p span {
	font-size: 0.8rem;
}

}
